.vs/WebBanHangOnline/v17/.suo
.vs/WebBanHangOnline/v17/DocumentLayout.backup.json
.vs/WebBanHangOnline/v17/DocumentLayout.json
.vs/WebBanHangOnline/v17/DocumentLayout.backup.json
WebBanHangOnline/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
*.vsidx
